<!--
  Generated template for the CreateNewAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create New Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="address != null">

	<form #createAddressForm="ngForm" (ngSubmit)="create(createAddressForm)" >
	
		<div *ngIf="errorMessage" class="errorText">
			{{errorMessage}}
		</div>
		
		<div *ngIf="infoMessage" class="infoText">
			{{infoMessage}}
		</div>
	
		<div>
		
			<div *ngIf="streetAddress.invalid && (streetAddress.dirty || streetAddress.touched || submitted)" class="errorText">
				<div *ngIf="streetAddress.errors.required">
					Street Address is required.
				</div>
			</div>
		
			<div *ngIf="floorUnit.invalid && (floorUnit.dirty || floorUnit.touched || submitted)" class="errorText">
				<div *ngIf="floorUnit.errors.required">
					Floor Unit is required.
				</div>
			</div>
			
			<div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched || submitted)" class="errorText">
				<div *ngIf="postalCode.errors.required">
					Postal Code is required.
				</div>
			</div>
			
			<div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched || submitted)" class="errorText">
				<div *ngIf="fullName.errors.required">
					Addressee is required.
				</div>

			</div>
			
			<div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched || submitted)" class="errorText">
				<div *ngIf="phoneNumber.errors.required">
					Contact Number is required.
				</div>
			</div>
		</div>					

		<ion-item-group>

					
			<ion-item>
				<ion-label floating>Street Address</ion-label>
				<ion-input type="text" id="streetAddress" name="streetAddress" [(ngModel)]="address.streetAddress" required="true" #streetAddress="ngModel"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label floating>Floor Unit</ion-label>
				<ion-input type="text" id="floorUnit" name="floorUnit" [(ngModel)]="address.floorUnit" required="true" #floorUnit="ngModel"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label floating>Postal Code</ion-label>
				<ion-input type="text" id="postalCode" name="postalCode" [(ngModel)]="address.postalCode" required="true" #postalCode="ngModel"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label floating>Addressee</ion-label>
				<ion-input type="text" id="fullName" name="fullName" [(ngModel)]="address.fullName" required="true" #fullName="ngModel"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label floating>Contact No.</ion-label>
				<ion-input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="address.phoneNumber" required="true" #phoneNumber="ngModel"></ion-input>
			</ion-item>
			
			<ion-item>
				<button type="submit" ion-button block>
					Create
				</button>
				<button ion-button block (click)="clear()">
					Clear
				</button>
			</ion-item>

		</ion-item-group>

	</form>
</div>
</ion-content>
