<!--
  Generated template for the ShoppingCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Shopping Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list text-wrap>
	<ion-item *ngFor="let cartItem of cartItems" icon-start>
		<ion-thumbnail item-start>
		<div *ngIf = "(cartItem.mk.imagePath)?.charAt(0) == '.'">		
			<img float:right width="50%"  src = "assets/imgs/{{(cartItem.mk.imagePath)?.substring(9)}}"/>
		</div>
		
		<div *ngIf = "(cartItem.mk.imagePath)?.charAt(0) != '.'">		
			<img float:right width="50%"  src = "{{(cartItem.mk.imagePath)}}" />
		</div>			
		
		
			
		</ion-thumbnail>
		<ion-label>{{cartItem.mk.name}}</ion-label>
		<ion-label>${{cartItem.mk.price}}</ion-label>
		<ion-label>Qty:{{cartItem.quantity}}</ion-label>
		<!--change quantity function not implemented yet-->
		<button (click)="delete(i)"  item-right>
			<ion-icon name="trash"></ion-icon>
		</button>
	</ion-item>

		<!--<ion-item>	
			<ion-label>Meal Kit 1</ion-label>
			<ion-label>Price: $10</ion-label>-->
			<!---(tap)="GoToRecipeDetails(item);" tappable-->
			<!---<ion-checkbox color="dark" checked="true"></ion-checkbox>-->
			<!--<ion-thumbnail item-start>
				<img float:right width="50%" src=/>
			</ion-thumbnail>
			<button (click)="decrement()" item-right>
			<ion-icon name="remove-circle" ></ion-icon>
			</button
			<ion-label item-right>{{quantity}}</ion-label>
			<button (click)="increment()" item-right>
			<ion-icon name="add-circle"></ion-icon>
			</button>
			<button (click)="delete()"  item-right>
			<ion-icon name="trash"></ion-icon>
			</button>
		</ion-item>-->
		
	</ion-list>
	<button ion-button round (click)="pay(totalPrice)">Pay now</button>
</ion-content>
