<!--
  Generated template for the MyAddressBookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>My Address Book</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding>
	<div *ngIf="errorMessage" class="errorText">
		{{errorMessage}}
	</div>
		
	<div *ngIf="infoMessage" class="infoText">
		{{infoMessage}}
	</div>

	<div *ngIf="addresses">
		<div *ngFor="let address of addresses">
			<ion-list *ngIf="(address)?.isDefaultShipping">
		
				<ion-list-header>
					Default Shipping Address
				</ion-list-header>
				
				<ion-item>
					<ion-label>
						<b>Street Address:</b> 
					</ion-label>
					<ion-note item-end>
						<p>{{address.streetAddress}}</p>
						<p>{{address.floorUnit}}</p>
						<p>{{address.postalCode}}</p>
					</ion-note>
				</ion-item>			
				<ion-item>
				<ion-label>
					<b>Addressee:</b>
				</ion-label>
				<ion-note item-end>
					<p>{{address.fullName}}</p>
				</ion-note>
			</ion-item>

			<ion-item>
				<ion-label>
					<b>Contact No.:</b>
				</ion-label>
				<ion-note item-end>
					<p>{{address.phoneNumber}}</p>
				</ion-note>
			</ion-item>

		</ion-list>

		<ion-list *ngIf="(address)?.isDefaultBilling">
		
			<ion-list-header>
					Default Billing Address
				</ion-list-header>
				
				<ion-item>
					<ion-label>
						<b>Street Address:</b> 
					</ion-label>
					<ion-note item-end>
						<p>{{address.streetAddress}}</p>
						<p>{{address.floorUnit}}</p>
						<p>{{address.postalCode}}</p>
					</ion-note>
				</ion-item>			
				<ion-item>
				<ion-label>
					<b>Addressee:</b>
				</ion-label>
				<ion-note item-end>
					<p>{{address.fullName}}</p>
				</ion-note>
			</ion-item>

			<ion-item>
				<ion-label>
					<b>Contact No.:</b>
				</ion-label>
				<ion-note item-end>
					<p>{{address.phoneNumber}}</p>
				</ion-note>
			</ion-item>
		</ion-list>

		
		<ion-list *ngIf="!(address)?.isDefaultShipping && !(address)?.isDefaultShipping && !(address)?.isDeleted">
		
			<ion-list-header>
				Other Addresses
			</ion-list-header>
			<ion-item>
				<ion-label>
						<b>Street Address:</b> 
				</ion-label>
				<ion-note item-end>
					<p>{{address.streetAddress}}</p>
					<p>{{address.floorUnit}}</p>
					<p>{{address.postalCode}}</p>
				</ion-note>				
			</ion-item>
			
			<ion-item>
				<ion-label>
					<b>Contact Details:</b>
					<p>Name of Recipient: {{address.fullName}}</p>
					<p>Contact No.: {{address.phoneNumber}}</p>
				</ion-label>
			</ion-item>
		</ion-list>
		</div>
	</div>

	<button ion-button block (click)="createNewAddress($event, this.customerId)">
		Create New Address
	</button>

</ion-content>
