<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<div *ngIf="errorMessage" class="errorText">
		{{errorMessage}}
	</div>
	
	<div *ngIf="infoMessage" class="infoText">
		{{infoMessage}}
	</div>
	
	<ion-card>
		<ion-item>
			<b>Name:</b>
			Kay Tan
			<!--{{customer.fullName}}-->
		</ion-item>
		
		<ion-item>
			<b>Date of Birth:</b>
			December 31, 1990
			<!--{{customer.dateOfBirth}}-->
		</ion-item>
		
		<ion-item>
			<b>Email:</b>
			user@gmail.com
			<!--{{customer.email}}-->
		</ion-item>
		
		<ion-item>
			<b>Gender:</b>
			Female
			<!--{{customer.gender}}-->
		</ion-item>
		
		<ion-item>
			<b>Mobile:</b>
			88888888
			<!--{{customer.mobile}}-->
		</ion-item>

		<ion-list>
			<button ion-item>
			<ion-icon name="happy" item-start></ion-icon>
				Edit My Profile
			</button>
			<button ion-item>
			<ion-icon name="pin" item-start></ion-icon>
				View My Address Book
			</button>
			<button ion-item>
			<ion-icon name="pricetags" item-start></ion-icon>
				View My Orders
			</button>
			<button ion-item (click)="shoppingCart($event)">
			<ion-icon name="basket" item-start></ion-icon>
				View My Shopping Cart
			</button>
		</ion-list>
	</ion-card>
</ion-content>
