<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="errorMessage" class="errorText">
		{{errorMessage}}
	</div>
	
	<div *ngIf="infoMessage" class="infoText">
		{{infoMessage}}
	</div>
	
	<ion-card>
		<ion-card-header>
			Profile Details
		</ion-card-header>
		
		<ion-item>
			<b>Name:</b>
			{{customer.fullName}}
		</ion-item>
		
		<ion-item>
			<b>Date of Birth:</b>
			<ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="customerDob"></ion-datetime>
		</ion-item>

		<ion-list>
			<button ion-item>
			<ion-icon name="happy" item-start></ion-icon>
				Edit My Profile
			</button>
		</ion-list>
	</ion-card>
</ion-content>
