<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	<button ion-button menuToggle *ngIf="isLogin">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Makan Maker</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="!isLogin">
	
		<h3>Login</h3>
		
		<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" >
		
			<div>
			
				<div *ngIf="inusername.invalid && (inusername.dirty || inusername.touched || submitted)" class="errorText">
					<div *ngIf="inusername.errors.required">
						Username is required.
					</div>
					<div *ngIf="inusername.errors.minlength">
						Username must be at least 4 characters long.
					</div>
					<div *ngIf="inusername.errors.maxlength">
						Username cannot exceed 32 characters.
					</div>
				</div>
				
				<div *ngIf="inpassword.invalid && (inpassword.dirty || inpassword.touched || submitted)" class="errorText">
					<div *ngIf="inpassword.errors.required">
						Password is required.
					</div>
					<div *ngIf="inpassword.errors.minlength">
						Password must be at least 4 characters long.
					</div>
					<div *ngIf="inpassword.errors.maxlength">
						Password cannot exceed 32 characters.
					</div>
				</div>
				
				<div *ngIf="loginErrorMessage" class="errorText">
					{{loginErrorMessage}}
				</div>
				
			</div>

			<ion-list>

				<ion-item>
					<ion-label fixed>Username</ion-label>
					<ion-input type="text" id="username" name="username" [(ngModel)]="username" minlength="4" maxlength="32" required="true" #inusername="ngModel"></ion-input>
					<button ion-button icon-only round small item-end color="light" (click)="clearUsername()">
						<ion-icon name="close"></ion-icon>
					</button>
				</ion-item>

				<ion-item>
					<ion-label fixed>Password</ion-label>
					<ion-input type="password" id="password" name="password" [(ngModel)]="password" minlength="4" maxlength="32" required="true" #inpassword="ngModel"></ion-input>
					<button ion-button icon-only round small item-end color="light" (click)="clearPassword()">
						<ion-icon isActive="false" name="close"></ion-icon>
					</button>
				</ion-item>
				
				<ion-grid>
					<ion-row>
						<ion-col col-6>
							<button type="submit" ion-button block>
								Login
							</button>
						</ion-col>
						<ion-col col-6>		
							<button ion-button block outline (click)="clearAll()">
								Clear
							</button>
						</ion-col>
					</ion-row>
					<ion-row row-6>
						<ion-col col-12>
							<div> Don't have an account? 
							<button ion-button small (click)="toSignUp($event)">
								Sign Up
							</button></div>
						</ion-col>
					</ion-row>
				</ion-grid>

			</ion-list>
			
		</form>
	</div>

	<div class="card-background-page" *ngIf="isLogin">
		<ion-card [navPush]="viewAllMealKits">
			<img src="assets/imgs/category1.jpg"/>
			<div class="card-title">Chef's Delight</div>
		</ion-card>

		<ion-card [navPush]="viewAllMealKits">
			<img src="assets/imgs/category2.jpg"/>
			<div class="card-title">Local Delights</div>
		</ion-card>

		<ion-card [navPush]="viewAllMealKits">
			<img src="assets/imgs/category3.jpg"/>
			<div class="card-title">Western Delicacies</div>
		</ion-card>
	</div>
</ion-content>
