<!--
  Generated template for the SelectSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select Schedule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list text-wrap>
	<ion-list-header><ion-icon name="calendar" item-start></ion-icon>Select Schedule</ion-list-header>
	<ion-item *ngFor="let cartWrapper of cartWrappers; let i = index" icon-start>	
		<ion-label>{{cartWrapper.cartItem.mk.name}} <p> Qty:{{cartWrapper.cartItem.quantity}}</ion-label>
		<ion-label>Delivery Date</ion-label>
		<!--<ion-datetime id="dob" name="dob" displayFormat="YYYY-MM-DD" pickerFormat="DD/MM/YYYY"  placeholder="{{this.customerDobString}}" [(ngModel)]="customerDobString" required="true" #dob="ngModel" max="2018-04-19"></ion-datetime>-->

		<ion-datetime name="date" displayFormat="DD MM YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="cartWrapper.deliveryDate" required="true" min="2018-04-23"></ion-datetime>
	</ion-item>
	<br />
	<br />
	<ion-list-header><ion-icon name="chatboxes" item-start></ion-icon>Special Request</ion-list-header>
	<ion-item *ngFor="let cartWrapper of cartWrappers; let i = index" icon-start>	
		<ion-label>{{cartWrapper.cartItem.mk.name}}</ion-label>
		<ion-input name="request" type="text" [(ngModel)]="cartWrapper.specialRequest"></ion-input>
	</ion-item>
	<!--<ion-item>	
		<ion-label>Meal Kit 1</ion-label>
		<ion-label>Quantity: 1</ion-label>
		<ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="hh A DD MMM YYYY" [(ngModel)]="event.month"></ion-datetime>
	</ion-item>-->
</ion-list>
<button ion-button (click)="createOrder()">Confirm</button>
<button ion-button round (click)="goToProfile($event)" [disabled]="!isEnabled">Go to my Profile</button>
	
</ion-content>
